#login{
    display: flex;
    margin: 5%;
    
    
}
#login-image{
    background-color: rgb(195, 195, 255);
    width: 50%;
    padding: 5%;
    background-image: url('../img/register-img.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 40px 0px 0px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    
}


#login-image.login{
    background-color: rgb(195, 195, 255);
    width: 50%;
    padding: 5%;
    background-image: url('../img/login-img.png.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 40px 0px 0px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    
}

#login-register{
    width: 50%;
    padding: 5%;
    border-radius: 0px 40px 40px 0px;
    background-color: rgb(243, 243, 243);
}
#login-register Form{
    padding: 5%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#login-register h4{
    text-align: center;
}

#login-register #column{
    display: flex;

}
#login-register #column .left {
    margin-left: 2%;
}
#login-register .register{
    border-radius: 20px;
}



/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    #login-image{
        display: none;
    }
    #login{
        display: block;
    }
    #login-register{
        width: 90%;
        border-radius: 40px 40px 40px 40px;
        background-image: url('../img/register-img.jpeg');
        background-size: cover;
        background-position: center;
        border-radius: 40px ;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    }
    #login-register.login{
        width: 90%;
        border-radius: 40px 40px 40px 40px;
        background-image: url('../img/login-img.png.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 40px ;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    }
    #login-register Form{
        background-color: white;
    }
    #login-register h4{
        color: white;
    }
   
}
